<a href="https://colab.research.google.com/github/alexburakov/Test_works/blob/main/SQL_compendium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Загрузка из Google docs

In [ ]:
#Загрузка файлов из Google-docs
!gdown --id 18ln2OUj3mB1U6l65fdHOtP-7ZzMzJ6Ms
!gdown --id 1zJn51UnLPBMlPyG4mNNKcu-Vs5QP34IN

Downloading...
From: https://drive.google.com/uc?id=18ln2OUj3mB1U6l65fdHOtP-7ZzMzJ6Ms
To: /content/doc_reports_sample.csv
100% 1.60M/1.60M [00:00<00:00, 47.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1zJn51UnLPBMlPyG4mNNKcu-Vs5QP34IN
To: /content/face_reports_sample.csv
100% 700k/700k [00:00<00:00, 46.8MB/s]

In [ ]:
doc = pd.read_csv('/content/doc_reports_sample.csv')
face = pd.read_csv('/content/face_reports_sample.csv')

NameError: ignored

#Подготовка SQLite

In [ ]:
import numpy as np
import pandas as pd
import sqlite3
sqlite3.sqlite_version

'3.22.0'

In [ ]:
con = sqlite3.connect("db")

In [ ]:
df=pd.DataFrame(data={'col1': [1, 2], 'col2': [3, 4]})

In [ ]:
df.to_sql('test', con, index=False, if_exists='replace')

In [ ]:
sql = """

SELECT * FROM test

      """
pd.read_sql(sql,con)

   col1  col2
0     1     3
1     2     4

#SQL Конспект

### Простой запрос

In [ ]:
SELECT DISTINCT col1, col2*2, col3+col4, "col_txt"
FROM table
WHERE (col1 = "sample" OR col2 = "sample") NOT IN ("sample-b","sample-b")
;
# Выборка строк
# Distinct — вернутся только уникальные строки

###Обьединения UNION

In [ ]:
SELECT * FROM t1
UNION [ALL]
SELECT * FROM t2

# 'Склейка таблиц' [не только уникальные значения]

### Пересечение INTERSECT/EXCEPT

In [ ]:
SELECT name FROM t1
INTERSECT [ALL] | EXCEPT [ALL]
SELECT kind FROM t2

# Вернет строки присутствующие в обоих запросах [INTERSECT]
# или строки первого запроса, отсутствующие во втором [EXCEPT]

### JOIN

In [ ]:
FROM tab1 [INNER] {{LEFT | RIGHT | FULL} [OUTER]} JOIN tab2 [ON <предикат>]

### Агрегатные функции

In [ ]:
SELECT  COUN(col1),
        SUM(col2),
        AVG(col3),
        MIN(col4),
        MAX(col5),
FROM t1

### Подзапросы

In [ ]:
SELECT (SELECT AVG(price) FROM Laptop) - (SELECT AVG(price) FROM PC) AS dif_price;
# Подзапросы в SELECT (вычисляет разницу средней цены лептопа и ПК)

### GROUP BY

In [ ]:
select col1
from t1
group by col12
having count(col12) >=2
# агрегатная функция может быть в блоке having (where?) !!!без элиаса!!!!

In [ ]:
1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY